<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Deposit requests</title>
      <link rel="stylesheet" href="/styles/styles.css" />
      <link rel="stylesheet" href="/styles/transfer.css" />
   </head>
   <body>
      <header>
         <h2>Deposit request.</h2>
      </header>
      <main>
         <ul>
            <% if(data.length == 0) {%>
            <h2>No requests.</h2>
            <%}%> <% else {%> <%for(let item of data) {%>
            <li>
               <h3>Depositor account:<%=item.account%></h3>
               <h3>Transfer amount:<%=item.amount%></h3>
               <form action=""><button>Proceed deposition</button></form>
            </li>
            <%}%> <%}%>
         </ul>
      </main>
   </body>
</html>
