<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Create account</title>
      <link rel="stylesheet" href="/styles/create-account.css" />
   </head>
   <body>
      <header>
         <h2>Submit information</h2>
      </header>
      <main>
         <form action="/create-account" method="POST">
            <div>
               <label for="username">Name:</label>
               <input type="text" name="username" id="username" required />
            </div>
            <div>
               <label for="useraddress">Address:</label>
               <input type="text" name="useraddress" id="useraddress" />
            </div>
            <div>
               <label for="useremail">Email:</label>
               <input type="email" name="useremail" id="useremail" required />
            </div>
            <div>
               <label for="userpassword1">Password:</label>
               <input type="password" name="userpassword1" id="userpassword1" required />
            </div>
            <div>
               <label for="userpassword2">Confirm pass:</label>
               <input type="password" name="userpassword2" id="userpassword2" required />
            </div>
            <div>
               <label for="userdob">Date of birth</label>
               <input type="date" name="userdob" id="userdob" required />
            </div>
            <div>
               <label for="terms">Agree with terms and condition:</label>
               <input type="checkbox" name="terms" id="terms" required />
            </div>
            <p id="register-message-box"><%=m1%></p>
            <button>Sign up</button>
         </form>
      </main>
      <!-- <form action="/" method="GET">
         <label>Login if an account exist:</label>
         <button>Login</button>
      </form> -->
      <h3>Click <a href="/">login</a> if an account already exists</h3>
   </body>
</html>
