<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Withdraw requests</title>
      <link rel="stylesheet" href="/styles/styles.css" />
      <link rel="stylesheet" href="/styles/transfer.css" />
   </head>
   <body>
      <header>
         <h2>withdraw request</h2>
         <h2><a href="/admin-home/<%=admin%>">Back</a></h2>
      </header>
      <main>
         <ul>
            <% if(data.length == 0) {%>
            <h2>No requests.</h2>
            <%} else {%> <%for(let item of data) {%>
            <li>
               <h3>Withdraw account:<%=item.account%></h3>
               <h3>Withdraw amount:<%=item.amount%></h3>
               <form action="/withdraw/<%item.id>%/accept" method="POST">
                  <button>Proceed transaction</button>
               </form>
               <form action="/withdraw/<%item.id>%/reject" method="POST">
                  <button>Decline request</button>
               </form>
            </li>
            <%}%> <%}%>
         </ul>
      </main>
   </body>
</html>
