<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Withdraw requests</title>
      <link rel="stylesheet" href="/styles/styles.css" />
      <link rel="stylesheet" href="/styles/transfer.css" />
   </head>
   <body>
      <header>
         <h2>No current requests, All requests have been cleared</h2>
      </header>
      <main>
         <ul>
            <li>
               <h3>Withdraw account:</h3>
               <h3>Withdraw amount:</h3>
               <form action=""><button>Proceed transaction</button></form>
               <form action=""><button>Decline request</button></form>
            </li>
         </ul>
      </main>
   </body>
</html>
