body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: rgb(255, 242, 201);
}
label {
   display: inline-block;
   width: 9rem;
}

header nav {
   display: flex;
   padding: 0.2rem;
   margin-bottom: 1rem;
}
header p {
   margin: 0.2rem;
   padding-right: 1.2rem;
}
main {
   display: flex;
   flex-direction: column;
   border: none;
}
main section {
   width: 35rem;
   padding: 2rem;
   background-color: bisque;
   border-bottom: 1px solid black;
}
