main {
   border: none;
}
ul {
   width: 30rem;
   list-style: none;
   border: 1px solid black;
   padding: 1rem;
}
ul h3 {
   margin: 0;
}
li {
   border: 1px solid black;
   padding: 2rem;
   margin: 1rem;
}
