body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
label {
   display: inline-block;
   width: 9rem;
}
header {
   margin-bottom: 1rem;
   display: flex;
   justify-content: end;
   align-items: end;
}
main {
   padding: 2rem;
   border: 1px solid black;
}

main {
   border: none;
}
header h2 {
   padding: 1rem;
}
ul {
   width: 40rem;
   list-style: none;
}
ul h3 {
   margin: 0;
}
li {
   border: 1px solid black;
   padding: 2rem;
   margin: 1rem;
}
