header nav {
   display: flex;
}
header p {
   margin: 0.2rem;
   padding: 0rem 4rem;
}
main {
   display: flex;
   border: 1px dotted black;
}
main section {
   padding: 3rem;
   border: 1px solid black;
}
