header nav {
   display: flex;
   border: 1px solid black;
}
header p {
   margin: 0.2rem;
   padding: 0rem 4rem;
}
main {
   display: flex;
   flex-direction: column;
   border: none;
}
main section {
   width: 40rem;
   padding: 3rem;
   border: 1px solid black;
}
